!!! 5
%html
  %head
    %title
      Change It Up!
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      %h1 Change It Up!
      #flash-notice.clearfix
        = bootstrap_flash
      = yield

      %h4 Required Parameters:
      .width
        width:
        %span.example width=100
      .height
        height:
        %span.example height=100
      .crop_type
        crop_type:
        %span.example crop_type=fit
        Or
        %span.example crop_type=fill
